
button{
  border: 2px solid #87CBB9;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    background-color: #B9EDDD;
    height: 30px;
}
button:hover{
  background-color: #569DAA;
    border: 2px solid #577D86;
}
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #577D86;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #B9EDDD;
    color: rgb(33, 19, 19);
  }
  .select-date-label {
    font-weight: bold;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .select-date{
    color: black;
    height: 30px;
    background-color: #B9EDDD;
    border-radius: 4px;
  }

    .popup {
    position: fixed;
    top: 70%;
    left: 17%;
    transform: translate(-50%, -50%);
    background-color: rgb(230, 239, 242);
    border: 1px solid #ddd;
    padding: 20px;
    }
    